<!DOCTYPE html>
<!--
    Design by Alicia A Jasmine
    http://www.100webhosting.com
    Released for free under a Creative Commons Attribution 3.0 License

    Name       : Nature Green
    Description: A two-column, fixed-width design with green color scheme.
    Version    : 1.0
    Released   : 23-08-2010
 -->
<html lang="en">
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <title>The Polite Programmer</title>
    <link rel="shortcut icon" href="/favicon.jpg">
    <!-- <link href="/stylesheets/html5reset.css" rel="stylesheet" type="text/css" media="screen" /> -->
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/stylesheets/syntax.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
      <div id="page">
        <div id="page-bgtop">
        <div id="page-bgbtm">
          <div id="content">
            {{ content }}
          </div>
          {% include sidebar.html %}
          <div style="clear: both;">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!-- DISQUS COMMENT COUNTER --------- -->
    <script type="text/javascript">
    var disqus_shortname = 'politeprogrammer';
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.src = 'http://disqus.com/forums/politeprogrammer/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
 </body>
</html>
